<section class="messages-banner">
	<form class="message-banner-enter-message" name="message">
		<textarea></textarea>
		<a class="add-photo-link">Add Photo</a>
		<a class="add-video-link">Add Video</a>
	</form>
	<nav>
		<ul>
			<li><a href="/"></a></li>
			<li><a href="/photos"></a></li>
			<li><a href="/videos"></a></li>
		</ul>
		<button class="list-button" ng-click="grid=false"></button>
		<button class="grid-button" ng-click="grid=true"></button>
	</nav>
</section>

<section ng-class="{ grid : grid, list : !grid }" class="messages">

	<div ng-repeat="message in messages">
		<div class="message message-{{type}}">
			<img class="user-avatar" alt="" ng-src="{{message.avatar}}" />
			<h3>{{message.title}}</h3>
			<div class="content">{{message.content}}</div>
			<a ng-click="showComments=!showComments" ng-show="message.comments.length>0">
				<span ng-show="!showComments && message.comments.length>0">Expand</span>
				<span ng-show="showComments && message.comments.length>0">Hide</span>
			</a>
			<div class="comments" ng-show="showComments">
				<div class="comment" ng-repeat="comment in message.comments">
					<img class="user-avatar" alt="" ng-src="{{comment.avatar}}" />
					<h3>{{comment.title}}</h3>
					<div class="content">{{comment.content}}</div>
				</div>
			</div>
		</div>
	</div>

</section>